/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/
/*@font-face {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 400;
 src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 700;
 src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}*/
@font-face {
 font-family: 'FontAwesome';
 src: url('/pages/menu/fonts/fontawesome-webfont.eot?v=4.1.0');
 src: url('/pages/menu/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('/pages/menu/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('/pages/menu/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('/pages/menu/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
 font-weight: 900;
 font-style: normal;
}
 @font-face {
 font-family: 'FontAwesome';
 src: url('/pages/menu/fonts/fontawesome-webfont.eot?v=4.1.0');
 src: url('/pages/menu/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('/pages/menu/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('/pages/menu/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('/pages/menu/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
 font-weight: 900;
 font-style: normal;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
	border:1px solid #06F;
}
#cssmenu:after, #cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#cssmenu #menu-button {
	display: none;
}
#cssmenu {
	width: auto;
	height: auto;
	/*font-family: 'Open Sans';*/
	font-family:'FontAwesome';
	src: url('/pages/menu/fonts/fontawesome-webfont.eot?v=4.1.0');
	src: url('/pages/menu/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('/pages/menu/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('/pages/menu/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('/pages/menu/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
	font-weight: bold;/*900*/
	font-style: normal;
	
	/*background: #225c9d;
	background: -moz-linear-gradient(top, #2b69af 0%, #225c9d 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b69af), color-stop(100%, #225c9d)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, #2b69af 0%, #225c9d 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #2b69af 0%, #225c9d 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #2b69af 0%, #225c9d 100%); /* IE10+ */
	/*background: linear-gradient(to bottom, #2b69af 0%, #225c9d 100%); /* W3C */
 /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b69af', endColorstr='#225c9d', GradientType=0 ); /* IE6-9 */
	background-color: #225c9d;	
	border-color: #57a5fb;
	/*box-shadow: inset 0 -1px 0 #57a5fb, inset 0 -1px 1px #57a5fb, inset 0 1px 1px #57a5fb, inset 1px 0 1px #57a5fb, inset -1px 0 1px #57a5fb, 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.17), 1px 1px 1px rgba(0, 0, 0, 0.05), -1px 1px 1px rgba(0, 0, 0, 0.05);*/
	border: inset 0 -1px 0 #57a5fb, inset 0 -1px 1px #57a5fb, inset 0 1px 1px #57a5fb, inset 1px 0 1px #57a5fb, inset -1px 0 1px #57a5fb;
}
#cssmenu.align-center > ul {
	font-size: 0px;
	text-align: center;
}
#cssmenu.align-center ul ul {
	text-align: left;
}
#cssmenu.align-center > ul > li {
	display: inline-block;
	float: none;
}
#cssmenu.align-right > ul > li {
	float: right;
}
#cssmenu.align-right ul ul {
	text-align: right;
}
#cssmenu > ul > li {
	float: left;
}
#cssmenu > ul > li > a {
	padding: 5px 20px;
	font-size: 1em;
	color: #f4f6f7;
	font-weight: /*400*/bold;
	text-decoration: none;
 /*-webkit-transition: color .2s ease;
 -moz-transition: color .2s ease;
 -ms-transition: color .2s ease;
 -o-transition: color .2s ease;
 transition: color .2s ease;*/
}
#cssmenu > ul > li:hover > a, #cssmenu > ul > li > a:hover, #cssmenu > ul > li.active > a {
	color: #f4f6f7;
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 6px;
}
#cssmenu ul > li.has-sub:hover > a:after {
	background-position: 0 -12px;
}
#cssmenu ul > li.has-sub > a:before {
/*content: '';
  position: absolute;
  right: -2px;
  top: 10px;
  display: block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  z-index: 99;*/
}
#cssmenu ul > li.has-sub:hover > a:before {
	border-top-color: #f4f6f7;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	opacity: 0;
/* -webkit-transition: top .2s ease, opacity .2s ease;
 -moz-transition: top .2s ease, opacity .2s ease;
 -ms-transition: top .2s ease, opacity .2s ease;
 -o-transition: top .2s ease, opacity .2s ease;
 transition: top .2s ease, opacity .2s ease;*/
}
#cssmenu > ul > li > ul {
	/*top: 91px;*/
 	padding-top: 2px;
	border-radius:1px;
}
#cssmenu > ul > li:hover > ul {
	left: auto;
	/*opacity: 1;*/
	display: block;/*test 13/11/2014*/
}
#cssmenu > ul > li:hover {/*test 13/11/2014*/
	background: #225c9d;/*background: linear-gradient(top, #E5E4E2 0%, #e4e4e2 40%);
	background: -moz-linear-gradient(top, #E5E4E2 0%, #e4e4e2 40%);
	background: -webkit-linear-gradient(top, #E5E4E2 0%, #e4e4e2 40%);*/
}
#cssmenu.align-right > ul > li:hover > ul {
	right: 0;
}
#cssmenu ul ul ul {
	top: 40px;
}
#cssmenu ul ul > li:hover > ul {
	top: 0;
	left: 210px;/*210px*/
	padding-left: 150px;/*10px*/
/*	opacity: 1;*/
}
#cssmenu.align-right ul ul > li:hover > ul {
	left: auto;
	right: 178px;
	padding-left: 0;
	padding-right: 10px;
	opacity: 1;
}
#cssmenu ul ul li a {
	width: 360px; /*220px*/
	padding: 8px 20px;
	font-size: 1em;
	font-weight:/* 400*/bold;
	/*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);*/
	color: #f4f6f7;
	text-decoration: none;
	background-color: /*#3db2e1;*/#225c9d;
 /*-webkit-transition: color .2s ease;
 -moz-transition: color .2s ease;
 -ms-transition: color .2s ease;
 -o-transition: color .2s ease;
 transition: color .2s ease;*/
	border: 1px solid #6dc8ec;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li > a:hover, #cssmenu ul ul li.active > a {
	color: #91daf7;
}
#cssmenu ul ul li:first-child > a {
	/*border-top-left-radius: 1px;*/
	border-top: 1px solid inset 0 1px 1px #225c9d ;
	/*border-top-right-radius: 1px;*/
	/*box-shadow: inset 0 1px 1px #225c9d;*/
}
#cssmenu ul ul li:last-child > a {
	/*border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	box-shadow: inset 0 -1px 0 #1f97c7, inset 0 -1px 1px #1f9acc, inset 0 1px 1px #9ad7ef, inset 1px 0 1px #22a4d9, inset -1px 0 1px #22a4d9, 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.17), 1px 1px 1px rgba(0, 0, 0, 0.05), -1px 1px 1px rgba(0, 0, 0, 0.05);
*/
	border-bottom: 1px solid inset 0 1px 1px #225c9d ;


}
#cssmenu ul ul > li.has-sub > a:after {
	right: 12px;
	top: 9.5px;
	background:#f4f6f7;
	background-size: 36px 36px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
#cssmenu.align-right ul ul > li.has-sub > a:after {
	right: auto;
	left: 12px;
}
#cssmenu ul ul > li.has-sub:hover > a:after {
	background-position: 0 18px;
}
#cssmenu ul ul > li.has-sub > a:before {
	top: 15.5px;
	right: 16px;
	border-top-color: transparent;
	border-left-color: #ffffff;
}
#cssmenu.align-right ul ul > li.has-sub > a:before {
	top: 15.5px;
	right: auto;
	left: 16px;
	border-top-color: transparent;
	border-right-color: #ffffff;
	border-left-color: transparent;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
	border-top-color: transparent;
	border-left-color: #ededee;
}
#cssmenu.align-right ul ul > li.has-sub:hover > a:before {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: #ededee;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
 #cssmenu {
 width: 100%;
}
 #cssmenu ul, #cssmenu ul ul, #cssmenu ul ul ul, #cssmenu > ul, #cssmenu.align-center > ul, #cssmenu > ul > li > ul, #cssmenu > ul > li:hover > ul, #cssmenu ul ul li:hover > ul, #cssmenu ul ul ul li:hover > ul, #cssmenu.align-right ul ul, #cssmenu.align-right ul ul li:hover > ul, #cssmenu.align-right ul ul ul li:hover > ul {
 position: relative;
 left: 0;
 right: auto;
 top: 0;
 width: 100%;
 display: none;
 padding: 0;
 opacity: 1;
 text-align: left;
}
 #cssmenu ul li {
 width: 100%;
 border-top: 1px solid rgba(120, 120, 120, 0.2);
}
 #cssmenu > ul > li > a, #cssmenu ul ul li a, #cssmenu ul ul li:first-child > a, #cssmenu ul ul li:last-child > a {
 width: 100%;
/* border-radius: 0;
 box-shadow: none;
 background: none;*/
}
 #cssmenu ul li a {
 padding-left: 12.5px;
}
 #cssmenu ul ul li a {
 padding: 14px 25px 14px 27.5px;
}
 #cssmenu ul ul ul li a {
 padding-left: 42.5px;
}
 #cssmenu ul ul ul ul li a {
 padding-left: 57.5px;
}
 #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul li.has-sub > a:after, #cssmenu ul ul li.has-sub > a:before {
 display: none;
}
 #cssmenu #menu-button {
 position: relative;
 display: block;
 padding: 20px;
 padding-left: 12.5px;
 cursor: pointer;
 font-size: 1em;
 color: #f4f6f7;
 /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);*/
 font-weight:/* 400*/bold;
 letter-spacing: 1px;
 text-transform: uppercase;
}
 #cssmenu .submenu-button {
 position: absolute;
 right: 0;
 display: block;
 width: auto;/*53px*/
 height: 53px;
 border-left: 1px solid rgba(120, 120, 120, 0.2);
 z-index: 10;
 cursor: pointer;
}
 #cssmenu ul ul .submenu-button {
 height: 41px;
}
 #cssmenu ul .submenu-button:after, #cssmenu #menu-button:after {
 content: '';
 position: absolute;
 right: 12.5px;
 top: 12.5px;
 display: block;
 width: /*28px*/auto;
 height: 28px;
 border-radius: 1px;
 background-color: #225c9d;
/* background: -moz-linear-gradient(top, #2b69af 0%, #225c9d 100%); /* FF3.6+ */
 /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b69af), color-stop(100%, #225c9d)); /* Chrome,Safari4+ */
 /*background: -webkit-linear-gradient(top, #2b69af 0%, #225c9d 100%); /* Chrome10+,Safari5.1+ */
 /*background: -o-linear-gradient(top, #2b69af 0%, #225c9d 100%); /* Opera 11.10+ */
 /*background: -ms-linear-gradient(top, #2b69af 0%, #225c9d 100%); /* IE10+ */
 /*background: linear-gradient(to bottom, #2b69af 0%, #225c9d 100%); /* W3C */
 /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b69af', endColorstr='#225c9d', GradientType=0 ); /* IE6-9 */
 border-color: #57a5fb;
 /*box-shadow: inset 0 -1px 0 #57a5fb, inset 0 -1px 1px #57a5fb, inset 0 1px 1px #57a5fb, inset 1px 0 1px #57a5fb, inset -1px 0 1px #57a5fb, 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.17), 1px 1px 1px rgba(0, 0, 0, 0.05), -1px 1px 1px rgba(0, 0, 0, 0.05);
 */background-size: 56px 56px;
 background-position: 0 0;
 background-repeat: no-repeat;
 /*-webkit-transition: all 0.1s ease-out;
 -moz-transition: all 0.1s ease-out;
 -ms-transition: all 0.1s ease-out;
 -o-transition: all 0.1s ease-out;
 transition: all 0.1s ease-out;*/
}
 #cssmenu ul .submenu-button.submenu-opened:after, #cssmenu #menu-button.menu-opened:after {
 background-position: 0 -28px;
}
 #cssmenu ul ul .submenu-button:after {
 top: 6.5px;
}
 #cssmenu #menu-button:before, #cssmenu .submenu-button:before {
 content: '';
 position: absolute;
 right: 22.5px;
 top: 25.5px;
 display: block;
 width: 0;
 height: 0;
 border: 1px solid transparent;
 border-top-color: #ffffff;
 z-index: 99;
}
 #cssmenu ul ul .submenu-button:before {
 top: 19.5px;
}
 #cssmenu #menu-button.menu-opened:before, #cssmenu .submenu-button.submenu-opened:before {
 border-top-color: #edf2f4;
}
}
